<div class="course_category_card" >
    <div class="card_level" [ngClass]="getLevelClass()"><span class="card_level__span">{{course()?.level | levelTranslate}}</span></div>
    <div class="card_description">
        <div class="card_description_title">
            <span class="card_description_title__span">{{course()?.title}}</span>
        </div>
        <div class="card_description_author">
            <span class="card_description_author__span">Автор:</span>
            <span class="card_description_author__span">{{course()?.author_name}}</span>
        </div>
        <div class="card_description_rewiews">
            <div class="card_description_rewiews__div">
                <img src="/assets/icons/star.svg" width="20" alt="" srcset="">
                <span class="card_description_rewiews__span">{{course()?.rating}}</span>
            </div>
            <div class="card_description_rewiews__div">
                <img src="/assets/icons/rewiew.svg" width="20" alt="" srcset="">
                <span class="card_description_rewiews__span">{{course()?.comments_count | endingFix}}</span>
            </div>
        </div>
    </div>
    <div class="card_price">
        <span class="card_price__span">{{course()?.price}} ₽</span>
        <div class="card_price_button">
            <span class="card_price_button__span">Купить</span>
        </div>
    </div>
</div>
