.popular {
    width: 100%;
    min-height: 467px;
    border-radius: 32px;
    padding: 32px;
    background: url('/assets/images/background/start-popular_course.svg') no-repeat top 0 right 50%, #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    

}
.popular_header {   
    width: 100%;
    .popular_header__h2 {
        color: #2871EE;
        width: 100%;
        font-family: BartinaRegular;
        font-size: 64px;
        font-weight: 400;
        line-height: 67.22px;
        text-align: left;

    }
}

.popular_swiper {
    width: 71%;
    height: 260px;
}

swiper-container {
    width: 100%;
    height: 100%;

    swiper-slide {
        width: 350px;
        height: 100%;
        background: #FFFFFF;
        border: 2px solid #CCCCCC;
        border-radius: 24px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        .course_category_card {
            width: 100%;
            height: 100%;
            padding: 32px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card_price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            height: 44px;
        }

        .card_price_button {
            width: 108px;
            height: 100%;
            border-radius: 32px;
            background: #2871EE;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .card_price_button__span {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            color: #F5F5F5;
        }

        .card_price__span {
            height: 20px;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #283739;
        }

        .card_description {
            min-height: 10px;
            max-height: 142px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }


        .card_description_author {
            height: 22px;
            display: flex;
            align-items: center;
            gap: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .card_description_author__span {
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #2871EE;
        }

        .card_description_author__span:nth-child(1) {
            color: #283739;
        }

        .card_description_rewiews {
            height: 20px;
            display: flex;
            gap: 8px;
        }

        .card_description_rewiews__div {
            display: flex;
            gap: 4px;
            align-items: center;
        }

        .card_description_rewiews__span {
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
      
            color: #797979;
        }

        .card_description_title {
            min-height: 10px;
            max-height: 84px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .card_description_title__span {
            display: -webkit-box;

            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #2871EE;
            font-family: BartinaRegular;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .card_level {
            width: 116px;
            height: 28px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 0 32px;
        }

        .card_level__span {
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #F5F5F5;
        }

        .level-high {
            background: #0045BC;
        }

        .level-medium {
            background: #2871EE;
        }

        .level-low {
            background: #6F97FF;
        }
    }
}