<ng-container *transloco="let t; prefix: translateKey">
        <div class="form-wrapper">
            <div class="form-wrapper__title">
                <h3 class="form_header__span">{{t('register')}}</h3>
            </div>
            <div class="form_progress">
                <div class="progress_line"></div>
                <div class="progress_line" ></div>
                <div class="form_progress_item">
                    <div class="progress_item_number">1</div>

                </div>
                <div class="form_progress_item" >
                    <div class="progress_item_number">2</div>

                </div>
                <div class="form_progress_item">
                    <div class="progress_item_number">3</div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
</ng-container>
