<div class="wrapper">
    <div class="routing">
        <app-bread-crumb />
    
    </div>
    <app-popular-courses />
    <app-courses-filter (searchList)="getSearchData($event)"/>
  
    <div class="courses_container">
        
        @if (searchList) {
            <div class="courses_card_container">
                @for (item of searchList.results; track $index) {
                    <app-course-card [course]="item"/>
                }
            </div>

    
        } @else {
            <app-course-category />
        }
      
      

    </div>
</div>