.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 56px 140px 0;
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
}

.header {
    width: 100%;
    height: 56px;
    display: flex;
  position: relative;

}

.z-main_header-back {
    width: 90px;
    height: 100%;
}

.main_header-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-back_icon {
    width: 14px;
}

.header-back__span {
    font-size: 18px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(40, 113, 238, 1);
}

.z-main_header-logo {
    justify-content: center;
    align-items: center;
    position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}

.main_header-logo {
    width: 180px;
    height: 100%;

}

.form-wrapper {
    width: 560px;
    min-height: 568px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.form-wrapper__title {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;

}

.form_header__span {
    color: rgba(40, 55, 57, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.form_progress {
    height: 20px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.progress_line {
    position: absolute;
    background: rgba(217, 217, 217, 1);
    height: 2px;
    width: 100%;
    top: 50%;
    z-index: -1;
}



.progress_line:nth-child(2) {
    background: linear-gradient(90deg, rgba(40, 113, 238, 1) 39%, rgba(204, 204, 204, 1) 88%);
    transition: all .3s ease-in-out;
}

.form_progress_item {
    width: 20px;
    height: 20px;
    background: rgba(217, 217, 217, 1);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress_item_img {
    width: 10px;
    height: 14px;
    background: url('/public/assets/icons/deg_blue.svg') no-repeat top 0 left 0;
    position: absolute;
    top: 4.1px;
    right: -6px;

}

.triangle-container {
    position: absolute;
    width: 6px;
    height: 8px;

    right: -1px;
}

.triangle {
    transform: rotate(90deg);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(40, 113, 238, 1);
    position: relative;
}

.circle_top {
    background: #2871ee;
    position: absolute;
    width: 5px;
    height: 3px;
    border-radius: 50%;
    z-index: 1;
    right: -1px;
    top: 2px;
    transform: rotate(205deg);
}

.circle_bottom {
    background: #2871ee;
    position: absolute;
    width: 5px;
    height: 3px;
    border-radius: 50%;
    z-index: 1;

    right: -1px;
    top: 5px;
    transform: rotate(-30deg);

}

.progress-first {
    width: 43%;
}

.progress-second {
    width: 100%;
}

.progress-third {
    width: 150%;
}

.progress_item_number {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.form {
    width: 100%;
    min-height: 368px;
    display: flex;
    flex-direction: column;
    gap: 68px;
    align-items: center;
}

.form-inp-grp {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inp_grp {
    height: 52px;
    display: flex;
    gap: 16px;
}

.inp_grp__input {
    flex: 1 1;
}

.form__input {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid rgba(204, 204, 204, 1);
    color: rgba(121, 121, 121, 1);
    border-radius: 32px;
    outline: none;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.form-btn-grp {
    height: 44px;
    display: flex;
    gap: 16px;
}

.btn-grp_item:nth-child(1) {
    width: 224px;
}

.btn-grp_item:nth-child(2) {
    flex: 1 1;
    display: flex;
    gap: 8px;
}

.form_btn {
    height: 100%;
    border-radius: 32px;
    background: #2871EE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form_btn__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #F5F5F5;
}

.btn-grp_checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid rgba(204, 204, 204, 1);
}

.btn-grp_text {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.rederect {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.validate__span {
    color: #FF8368;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emailCode {
    width: 360px;
    min-height: 88px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.emailCode__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.emailCode_btn {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: white;
    width: 140px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2871EE;
    border-radius: 32px;
    align-self: center;
    cursor: pointer;
}
