<div class="wrapper">
    <div class="wrapper_item">
        <h2 class="header__h2">Пожалуйста, укажите интересующие вас направления</h2>
        <h2 class="header__span">Это нужно чтобы персонализировать <br> предложения курсов для вас</h2>
    </div>
    <div class="wrapper_item">
        <div class="swiper-container">
            <swiper-container class="swiper" slides-per-view="1">
                <swiper-slide class="swiper-slide">Slide 1</swiper-slide>
                <swiper-slide class="swiper-slide">Slide 2</swiper-slide>
                <swiper-slide class="swiper-slide">Slide 3</swiper-slide>
       
              </swiper-container>
        </div>
    </div>
</div>