<ng-container *transloco="let t; prefix: translateKey">
        <div class="form-wrapper">
            <div class="form-wrapper__title">
                <h3 class="form_header__span">{{t('loginTitle')}}</h3>
            </div>
            <form class="form" [formGroup]="loginForm">
                <div class="form-inp-grp">
                    <input type="text" class="form__input" placeholder="Email" formControlName="email">
                    <input type="text" class="form__input" [placeholder]="t('password')" formControlName="password">
                    <span class="validate__span" *ngIf="!isValid">{{errorText}}</span>
                </div>
                <div class="form-btn-grp">
                    <div class="btn-grp_item">
                        <div class="form_btn" (click)="login()"><span class="form_btn__span">
                            Войти
                        </span></div>
                    </div>

                </div>
                <a [routerLink]="['../', ROUTES.REGISTER]" class="rederect" >{{t('noAcc')}} <span style="color: #2871EE;">
                  {{ t('noAccRegister') }}
                </span> </a>
            </form>
            <span class="forgot-password" [routerLink]="['../', ROUTES.RESET_PASSWORD]">Зыбыли пароль</span>
        </div>
</ng-container>
