:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.container {
  width: 100%;
  min-height: 368px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.form {
  width: 560px;
  min-height: 368px;
  display: flex;
  flex-direction: column;
  gap: 68px;
  align-items: center;
}

.form-inp-grp {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.inp_grp {
  height: 52px;
  display: flex;
  gap: 16px;
}

.inp_grp__input {
  flex: 1 1;
}

.form__input {
  width: 100%;
  padding: 16px 20px;
  border: 2px solid rgba(204, 204, 204, 1);
  color: rgba(121, 121, 121, 1);
  border-radius: 32px;
  outline: none;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.form-btn-grp {
  height: 44px;
  display: flex;
  gap: 16px;
}

.btn-grp_item:nth-child(1) {
  width: 224px;
}

.btn-grp_item:nth-child(2) {
  flex: 1 1;
  display: flex;
  gap: 8px;
}

.form_btn {
  height: 100%;
  border-radius: 32px;
  background: #2871EE;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.form_btn__span {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #F5F5F5;
}

.btn-grp_checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid rgba(204, 204, 204, 1);
}

.btn-grp_text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #283739;
}

.rederect {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #283739;
}

.validate__span {
  color: #FF8368;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}