.wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 100px;
    gap: 32px;
    align-items: center;
}

.wrapper_grp {
    width: 100%;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper_grp__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper_grp_item{
    position: relative;
}
.wrapper_grp__input {
    width: 100%;
    height: 52px;
    padding: 16px 20px;
    border-radius: 32px;
    border: 2px solid #CCC;
    background: #FFF;
    outline: none;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.wrapper_grp__input:hover {
    border: 2px solid rgba(40, 113, 238, 1);
}

.wrapper_grp__input:focus {
    border: 2px solid rgba(40, 113, 238, 1);
}

.wrapper_grp__label {
    color: #797979;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    left: 22px;
    top: 16px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper_grp__label-moving {
    font-size: 14px;

    top: -9px;
    background: white;
}


.wrapper_valid-text {
    color: #FF8368;
}

.wrapper_valid-border {
    border: 2px solid #FF8368;
    color: #FF8368;
}

.wrapper_grp__input-star {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    color: #FF8368;
}

.wrapper_grp__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FF8368;
}








.wrapper_btn {
    width: 158px;
    height: 44px;
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #A5A5A6;
    cursor: not-allowed;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.wrapper_btn__valid {
    background: #2871EE;
    cursor: pointer;
}

.wrapper_btn__valid:hover {
    background: #0045BC;
}

.wrapper_btn__span {
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}