.wrapper_grp_item {
    position: relative;
}

.wrapper_grp__input {
    width: 100%;
    height: 52px;
    padding: 16px 20px;
    border-radius: 32px;
    border: 2px solid #CCC;
    background: #FFF;
    outline: none;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.wrapper_grp__input:hover {
    border: 2px solid rgba(40, 113, 238, 1);
}

.wrapper_grp__input:focus {
    border: 2px solid rgba(40, 113, 238, 1);
}

.wrapper_grp__span {
    color: #797979;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    left: 22px;
    top: 16px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
}

.wrapper_grp__span-moving {
    font-size: 14px;

    top: -9px;
    background: white;
}


.wrapper_valid-text {

    color: #FF8368;
}

.wrapper_valid-border {
    border: 2px solid #FF8368;
    color: #FF8368;
}

.wrapper_grp__input-star {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    color: #FF8368;
}
