:host {
  display: block;
  width: 100%;
}
.header {
  width: 100%;
  height: 56px;
  display: flex;
  position: relative;
}

.z-main_header-back {
  width: 90px;
  height: 100%;
}

.z-main_header-logo {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main_header-logo {
  width: 180px;
  height: 100%;

}
