.main {
    width: 100%;
    min-height: 100vh;
    padding: 56px 140px 0;
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
}

.main_header {
    width: 100%;
    height: 56px;
    display: flex;

}

.z-main_header-back {
    width: 90px;
    height: 100%;
}

.main_header-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-back_icon {
    width: 14px;
}

.header-back__span {
    font-size: 18px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(40, 113, 238, 1);
}

.z-main_header-logo {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header-logo {
    width: 180px;
    height: 100%;
    background: url('/assets/logotips/skillson_logo.png') no-repeat top 0 left 0;
}

.main_form {
    width: 560px;
    min-height: 568px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.form_header {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;

}

.form_header__span {
    color: rgba(40, 55, 57, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.form_progress {
    height: 20px;
    width: 130px;
}

.form {
    width: 100%;
    min-height: 368px;
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.form-inp-grp {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inp_grp {
    height: 52px;
    display: flex;
    gap: 16px;
}

.inp_grp__input {
    flex: 1 1;
}

.form__input {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid rgba(204, 204, 204, 1);
    color: rgba(121, 121, 121, 1);
    border-radius: 32px;
    outline: none;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.form-btn-grp {
    height: 44px;
    display: flex;
    gap: 16px;
}

.btn-grp_item:nth-child(1) {
    width: 224px;
}

.btn-grp_item:nth-child(2) {
    flex: 1 1;
    display: flex;
    gap: 8px;
}

.form_btn {
    height: 100%;
    border-radius: 32px;
    background: #2871EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_btn__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #F5F5F5;
}

.btn-grp_checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid rgba(204, 204, 204, 1);
}

.btn-grp_text {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.rederect {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}