<div class="main">
    <div class="main_header">
        <div class="z-main_header-back">
            <div class="main_header-back">
                <img src="/assets/icons/arrow_left.svg" class="header-back_icon" alt="" srcset="">
                <span class="header-back__span">Назад</span>
            </div>
        </div>
        <div class="z-main_header-logo">
            <div class="main_header-logo">

            </div>
        </div>
    </div>
    <div class="main_form">
        <div class="form_header">
            <h3 class="form_header__span">Регистрация</h3>
        </div>
        <div class="form_progress"></div>
        <div class="form">
            <div class="form-inp-grp">
                <div class="inp_grp">
                    <input type="text" class="form__input inp_grp__input" placeholder="Имя">
                    <input type="text" class="form__input inp_grp__input" placeholder="Фамилия">
                </div>
                <input type="text" class="form__input" placeholder="Email">
                <input type="text" class="form__input" placeholder="Пароль">
                <input type="text" class="form__input" placeholder="Подтверждение пароля">
            </div>
            <div class="form-btn-grp">
                <div class="btn-grp_item">
                    <div class="form_btn"><span class="form_btn__span">Зарегестрироваться</span></div>
                </div>
                <div class="btn-grp_item">
                    <input  class="btn-grp_checkbox" type="checkbox" [(ngModel)]="value" />
                    <span class="btn-grp_text">Нажимая на кнопку , я даю согласие на обработку персональных данных</span>
                </div>
            </div>
        </div>
        <span class="rederect">Уже есть аккаунт? <span style="color: #2871EE;">Войти</span>  </span>
    </div>
</div>