<ng-container>
    <div class="wrapper">
        <header class="header">
            <div class="z-main_header-back">
                <div class="main_header-back">
                    <img src="/assets/icons/arrow_left.svg" class="header-back_icon" alt="" srcset="">
                    <span class="header-back__span">back</span>
                </div>
            </div>
            <div class="z-main_header-logo">
                <div class="main_header-logo">
                <img src="/assets/logotips/skillson_logo.png"/>
                </div>
            </div>
        </header>
        <div class="form-wrapper">
            <div class="form-wrapper__title">
                <h3 class="form_header__span">Dobro_pozalovat!</h3>
            </div>
         
            <form class="form">
                <div class="form-inp-grp">
                    <input type="text" class="form__input" placeholder="Email" >
                    <input type="text" class="form__input" [placeholder]="'password'" >
                    <span class="validate__span" >required</span>
                </div>
                <div class="form-btn-grp">
                    <div class="btn-grp_item">
                        <div class="form_btn" ><span class="form_btn__span">
                         register
                        </span></div>
                    </div>
            
                </div>
                <span class="rederect" >hasAccaoun <span style="color: #2871EE;">
                  login
                </span> </span>
            </form>
            
        </div>
    </div>
</ng-container>