
.course_category {
    width: 100%;
    min-height: 767px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.course_category_header {
    font-family: BartinaRegular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2871EE;
}

.course_category_cards {
    width: 100%;
    min-height: 560px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: 260px;
    justify-content: center;

}

.course_category_card {
    padding: 32px 24px;
    border-radius: 24px;
    border: 2px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.card_price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 44px;
}

.card_price_button {
    width: 108px;
    height: 100%;
    border-radius: 32px;
    background: #2871EE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card_price_button__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #F5F5F5;
}

.card_price__span {
    height: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #283739;
}

.card_description {
    min-height: 10px;
    max-height: 142px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.card_description_author {
    height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card_description_author__span {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #2871EE;
}

.card_description_author__span:nth-child(1) {
    color: #283739;
}

.card_description_rewiews {
    height: 20px;
    display: flex;
    gap: 8px;
}

.card_description_rewiews__div {
    display: flex;
    gap: 4px;
}

.card_description_rewiews__span {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #797979;
}

.card_description_title {
    min-height: 10px;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card_description_title__span {
    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #2871EE;
    font-family: BartinaRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_level {
    width: 116px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 0 0 0 32px;
}

.level-high {
    background: #0045BC;
}

.level-medium {
    background: #2871EE;
}

.level-low {
    background: #6F97FF;
}

.course_category_btn {
    width: 100%;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_category_btn__div {
    cursor: pointer;
    background: #2871EE;
    border-radius: 32px;
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_category_btn__span {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #F5F5F5;
}